.contact-background {
    display: flex;
    flex-direction: column;
    /* font-size: 85px; */
    justify-content: center;
    align-items: center;
    background-image: url(https://res.cloudinary.com/wescloud/image/upload/v1663621326/Culture%20All/7E34B550-73DE-4E9D-A8F2-B093F42BDAFB_azjrac.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    border-radius: .25rem;
    min-height: 700px;
}

.contact-title {
    font-size: 85px;
}


.contact-form-container {
    /* width: 70%; */
    background-color: rgb(211, 197, 172);
    padding: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    margin-left: 15rem;
    margin-right: 15rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    opacity: 98%;
    border-radius: 1rem;
    /* box-shadow: 3px 3px wheat; */
}

.contact-button-box {
    display: flex;
    flex-direction: column;
    font-size: 80px;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(146, 174, 189); */
    border-radius: .25rem;
    /* min-height: 300px; */
}

.contact-buttonz {
    margin-top: 2rem;
    background: #fff;
    border-color: #fff;
    border-style: solid;
    background-color: white;
    color: black;
    padding-left: 2rem; 
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: large;
    /* border-radius: 1rem; */
    border-color: beige;
    box-shadow: 0px 0px 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .5s;
}

.contact-buttonz:before {
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: -100%;
    left: -100%;
    /* background: wheat; */
    /* color: aliceblue; */
    transition: all .5s;
    z-index: -1;
}


.contact-buttonz:hover {
    color: white;
    background: rgb(211, 197, 172);
}

.contact-buttonz:hover:before {
    top: 0;
    left: 0;
}

.thank-you {
    font-size: 85px;
}

.we-will-contact {
    font-size: 25px;
}

.thank-you-container {
    padding: 10rem;
}