.register-form-container {
    /* width: 70%; */
    background-color: rgb(211, 197, 172);
    padding: 5rem;
    /* padding-left: 10rem;
    padding-right: 10rem; */
    margin-top: 5rem;
    margin-bottom: 10rem;
    margin-left: 15rem;
    margin-right: 15rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    opacity: 98%;
    border-radius: 1rem;
    box-shadow: 4px 4px rgb(245, 234, 217);
}

.register-form-button-box {
    display: flex;
    flex-direction: row;
    font-size: 80px;
    justify-content: left;

    align-items: center;
    border-radius: .25rem;
}

.register-form-register-buttonz {
    margin-top: 2rem;
    margin-right: .5rem;
    background: #fff;
    border-color: #fff;
    border-style: solid;
    background-color: white;
    color: black;
    padding-left: 1rem; 
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: large;
    /* border-radius: 1rem; */
    border-color: whitesmoke;
    box-shadow: 0px 0px 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .5s;
}

.register-form-register-buttonz:before {
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: -100%;
    left: -100%;
    /* background: wheat; */
    /* color: aliceblue; */
    transition: all .5s;
    z-index: -1;
}


.register-form-register-buttonz:hover {
    color: white;
    background: rgb(211, 197, 172);
}

.register-form-register-buttonz:hover:before {
    top: 0;
    left: 0;
}

.register-form-cancel-buttonz {
    margin-top: 2rem;
    background: #fff;
    border-color: #fff;
    border-style: solid;
    background-color: white;
    color: black;
    padding-left: 2rem; 
    padding-right: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: large;
    /* border-radius: 1rem; */
    border-color: whitesmoke;
    box-shadow: 0px 0px 0px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .5s;
}

.register-form-cancel-buttonz:before {
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: -100%;
    left: -100%;
    /* background: wheat; */
    /* color: aliceblue; */
    transition: all .5s;
    z-index: -1;
}


.register-form-cancel-buttonz:hover {
    color: white;
    background: rgb(211, 197, 172);
}

.register-form-cancel-buttonz:hover:before {
    top: 0;
    left: 0;
}


.register-title {
    font-size: 65px;
}