
.dash-staff-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: whitesmoke; */
    /* background-size: cover; */
}

.dash-staff-outer-container {
    background: rgb(146, 174, 189);
    border: 1px solid rgb(146, 174, 189);
    box-shadow: 3px 3px rgb(199, 212, 211);
    border-radius: 1rem;
    padding: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top:  5rem;
    margin-bottom: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dash-staff-inner-container{
    background: white;
    margin: 2rem;
    /* margin-right: 7rem; */
    margin-bottom: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: stretch;
    border: 1px solid rgb(146, 174, 189);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 3px 3px rgb(199, 212, 211);
    /* justify-content: space-evenly; */
}


.dash-staff-link-container {
    /* width: 60%; */
    margin: 1.5rem;
    display: flex;
    flex: 2;
    flex-direction: column;
    text-align: left;
    /* padding-left: 2rem; */
    /* border: 1px solid black; */
}


.dash-staff-title1 {
    font-size: 5rem;
    
}

.dash-staff-title2 {
    font-size: xx-large;
}

.dash-staff-title3 {
    font-size: x-large;
}

.dash-staff-linkz {
    /* margin: 1rem; */
}
