@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');

.buttonz {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 2s;
}

.buttonz:before {
    width: 100%;
    height: 100%;
    content: '';
    margin: auto;
    position: absolute;
    top: -100%;
    left: -100%;
    background: whitesmoke;
    transition: all 2s;
    z-index: -1;
}

.buttonz:hover {
    color: rgb(22, 22, 22);
    background: linear-gradient(to right, goldenrod, rgb(223, 192, 114));
}

.buttonz:hover:before {
    top: 0;
    left: 0;
}